#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem; */
  text-align: center;
  margin: 0;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.form-contact .card-contact {
  min-width: 450px;
}
.form-contact .card-contact .form-contact {
  margin-top: 2rem;
}
.form-contact .card-contact .field-contact {
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 960px) {
  .form-contact .card-contact {
    width: 80%;
  }
}
@media screen and (max-width: 640px) {
  .form-contact .card-contact {
    width: 100%;
    min-width: 0;
  }
}

.border-contact {
  border: #61dafbaa;
  border-style: solid;
  border-width: 1.5incap;
}
