:root {
  font-family: Avenir, Helvetica, Arial, sans-serif, RocknRoll One;
  /* RocknRoll One, Avenir, Helvetica, Arial, sans-serif */
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #17A2B8;
  background-color: #FAF9F6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-family: Avenir, Helvetica, Arial, sans-serif, RocknRoll One;
  font-weight: 500;
  color: #FAF9F6;
  text-decoration: inherit;
  cursor: pointer;
}
a:hover {
  color: #FFA500;
  background-color: #17A2B8;
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: #FFA500;
  color: #4B2E17;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.05), 
              0 4px 6px -2px rgba(0, 0, 0, 0.05);
  outline: none;
}

button:hover {
  border-color: #FFA500;
  color: #4B2E17;
  font-weight: bolder;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 
              0 4px 6px -2px rgba(0, 0, 0, 0.1);
}

.p-button {
  transition: box-shadow 0.1s ease-in-out, font-weight 0.1s ease-in-out;
}

.p-button:hover {
  box-shadow: 0 20px 30px -5px rgba(0, 0, 0, 0.4), 
              0 15px 15px -5px rgba(0, 0, 0, 0.3);
}

.p-button:hover .p-button-label {
  font-weight: 600;
}

.p-button:active {
  transform: scale(0.98);
  transition: transform 0.1s ease-in-out;
}

/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #FAF9F6;
  }
  a:hover {
    background-color: #17A2B8;
    color: #FFA500;
  }
  button {
    background-color: #FFA500;
  }
}

.button-wrapper {
  width: 200px;
}

.sponsor-logo-hover {
  transition: background-color 0.2s ease-in-out;
  overflow: visible; 
}

.sponsor-logo-hover:hover {
  background-color: var(--PrimaryColor);
}

.p-card-content {
  padding-top: 1rem !important;
  padding-bottom: 0 !important;
}

.box {
  background: linear-gradient(-7deg, #17a2b8, #e5fcff 36.97%, #baf6ff 40.34%);
}

.scroll-up-button button {
  width: 50px;
  height: 50px;   
  background-color: #ffa6008c;
  border: 1px solid #FFA500;
  border-radius: 50%;
  padding: 12px;
  cursor: pointer;
  font-size: 24px;
  align-Items: "center";
  justify-content: "center";
}

.scroll-up-button button:hover {
  background-color: #FFA500;
}

@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.sponsor-card {
  position: relative;
  opacity: 0;
  transform: translateY(100px); 
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.sponsor-card.fade-in-up {
  opacity: 1;
  transform: translateY(0);
}

.carousel-track {
  display: flex;
  width: 100%;
  gap: 20px;
  padding-block: 2rem;
  overflow: hidden;
  justify-content: center;
  margin: 0 auto;
  left: 0;
  right:0;
  /* background-color: #2ba6b9; */
}

.small-screen {
  flex-shrink: 0;
  width: 250px;
  height: auto; 
  border-radius: 5px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
  margin: 0;
  animation: scrollLeft 35s linear infinite;
}

.small-screen img {
  width: 90%;
}

.small-screen h4 {
  line-height: 1.4;
}

@media (max-width: 768px) {
  .carousel-container {
    padding: 3rem 0; 
  }

  .container {
    max-width: none;
  }
}

@keyframes scrollLeft {
  0% {
    transform: translateX(calc(350% - 20px));
  }
  100% {
    transform: translateX(calc(-515% - 20px));
  }
}