.p-hero {
    min-height: 80vh;
    background: rgba(0, 0, 0, 0.5) ;
    background-image: $heroBgImage;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:local;
    border-radius: none;
    background-blend-mode: darken;
    display: flex;
    flex-flow: column;  
    align-items: center;
    justify-content: center;
    .p-hero-header {
        color: $primaryTextColor;
        font-weight: bold;  
        text-align: left;
    }
    .p-hero-calltoaction {
        font-size: 2rem;
        font-weight: 700;
        text-align: left;

    }
}